.ingredients__modal {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  padding: 28px 20px;
  width: calc(100% - 40px);
  max-width: 440px;
  background-color: #ffffff;
  z-index: 1;
  overflow-x: hidden;
  background-color: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  overflow: auto;

  @media screen and (min-width: 1200px) {
    max-width: 568px;
  }
}

.ingredients__modal.is-hidden {
  opacity: 0;
  visibility: visible;
  pointer-events: none;
}

.ingredients__close {
  position: absolute;
  background-color: transparent;
  border: none;
  right: 12px;
  top: 12px;
  cursor: pointer;
}

.ingredients__btn {
  cursor: pointer;
}
.ingredients__icon {
  width: 20px;
  height: 20px;
  transition: fill 250ms var(--timing-function);
  &:hover,
  &:focus {
    fill: #0a8817;
  }
}

.ingredients__title {
  margin-bottom: 20px;
  font-family: 'Seymour One';
  font-size: 20px;
  line-height: calc(28 / 20);
  text-align: center;
  color: var(--black-color);
}

.ingridients__circle {
  display: block;
  position: relative;
  width: 132px;
  height: 132px;

  background-color: #9cbe8f;
  border-radius: 50%;
  margin: 0 auto;
}

.ingridients__circle::after {
  position: absolute;
  content: '';
  width: 132px;
  height: 132px;
  top: -7px;
  background-image: url(../images/products/imagecompressor/Ellipse\ 67.jpg);
  border-radius: 50%;

  @include retina {
    background-image: url(../images/products/imagecompressor/Ellipse\ 672x.jpg);
    background-position: center;
    background-size: contain;
  }
}

.ingredients__list {
  display: flex;
  gap: 9px;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
  margin-top: 22px;

  @media screen and (min-width: 768px) {
    gap: 19px;
  }
}
.ingredients__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 53px;
  height: 72px;
  padding-top: 52px;
  border: 2px solid #9cbe8f;
  border-radius: 40px;

  @media screen and (min-width: 768px) {
    width: 65px;
    height: 90px;
  }
}
.ingredients__span {
  padding-top: 8px;
  position: absolute;
  top: -1px;
  display: block;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 2.8;
  text-align: center;
  color: var(--black-color);
  background-color: #9cbe8f;

  @media screen and (min-width: 768px) {
    padding-top: 12px;
    width: 53px;
    height: 53px;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(28 / 12);
  }
}

.ingredients__text {
  margin-top: 6px;
  font-size: 10px;
  line-height: 1.2;
  color: var(--black-color);

  @media screen and (min-width: 1200px) {
    font-size: 12px;
    line-height: calc(15 / 12);
  }
}

.ingredients__name {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(28 / 20);
  color: var(--black-color);
  text-align: center;
}
.ingredients__part {
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-bottom: 40px;
}
.ingredients__weigth {
  display: flex;
  justify-content: space-between;
}
.ingredients__product {
  font-size: 14px;
  line-height: 1.76;
  letter-spacing: 0.04em;
  color: var(--black-color);
}

.ingredients__label {
  display: block;
  text-align: center;
}

.ingredients__input {
  outline: none;
  width: 100%;
  height: 42px;
  padding-left: 10px;
  border: 1px solid var(--background-color);
  background-color: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 1.4;
  transition: background-color 250ms var(--timing-function);

  @media screen and (min-width: 1200px) {
    width: 368px;
  }
}

.ingredients__input::placeholder {
  font-size: 12px;
  line-height: 1.4;
  color: var(--black-color);
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}

.ingredients__input:not(:placeholder-shown):required:invalid {
  border-color: red;
}

.ingredients__input:is(:focus-within, :hover, :focus) {
  border-color: #0a8817;
}

.ingredients__comment {
  outline: none;
  width: 100%;
  min-height: 84px;
  padding-left: 10px;
  padding-top: 11px;
  margin-bottom: 24px;
  background-color: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  font-size: 14px;
  line-height: 1.4;
  transition: background-color 250ms var(--timing-function);

  @media screen and (min-width: 1200px) {
    width: 368px;
  }
}

.ingredients__comment:is(:focus-within, :hover, :focus) {
  border-color: #0a8817;
}

.ingredients__comment::placeholder {
  font-size: 12px;
  line-height: 1.4;
  color: var(--black-color);
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}

.ingredients__btn {
  display: block;
  margin: 0 auto;
  width: 132px;
  height: 42px;
  background-color: #f8d24e;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: var(--black-color);
  transition: background-color 250ms var(--timing-function),
  color 250ms var(--timing-function);

  &:hover {
    background-color: #0a8817;
  }

  &:focus {
    color: var(--white-color);
    background-color: #0a8817;
  }
}
