@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--white-color);
  font-weight: 400;

  cursor: url('../images/cursor.svg'), auto;
  a:hover {
    cursor: url('../images/cursor_hover.svg'), auto;
  }
  button:hover {
    cursor: url('../images/cursor_hover.svg'), auto;
  }
}