.footer{
    background-color: #84A178;
}

.footer__text{
    text-transform: uppercase;
    width: 234px;
    font-weight: 700;
    // padding-left: 20px;
    // padding-right: 66px;
@media screen and (min-width:768px) {
    width: 352px;
}
}

.footer__text-first{
    font-size: 18px;
    margin-bottom: 16px;
    line-height: 1.2222;
    // padding-left: 20px;
    @media screen and (min-width:768px){
        margin-bottom: 8px;
        font-size: 26px;
    }
    @media screen and (min-width:1200px) {
        font-size: 30px;
        letter-spacing: 0.04em;
        margin-bottom: 14px;
    }
}

.footer__text-second{
    font-size: 34px;
    // padding-left: 20px;
    margin-bottom: 60px;
    line-height: 1.2059;
    letter-spacing: 0.04em;
    @media screen and (min-width:768px) {
        font-size: 48px;
    }
    @media screen and (min-width:768px) {
        font-size: 58px;
        letter-spacing: 0.06em;
        line-height: 1.2241;
    }
}

.footer__list{
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    // padding-right: 20px;
    margin-bottom: 20px;
    @media screen and (min-width:768px) {
    gap: 30px;
    margin-bottom: 34px;
    }
    @media screen and (min-width:768px) {
        margin-bottom: 40px;
    }
}

.footer__contacts{
    font-weight: 700;
    font-size: 12px;
    line-height: 1.8333;
    color: #131313;
    text-align: right;
    margin-bottom: 40px;
    @media screen and (min-width:768px) {
        font-size: 14px;
    }
}

.footer__contacts-tel{
    color: var(--white-color);
}

.footer__border{
    border-top: 1px solid #E1E1E1;
}
.footer__copyright{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    color: #7A7A7A;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    @media screen and (min-width:768px) {
        margin-top: 12px;
}
    @media screen and (min-width:1200px) {
        font-size: 12px;
}
}