.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 93px 15px;
  overflow-y: scroll;

  background-color: rgba(0, 0, 0, 0.2);
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}


.form-container {
  @media screen and (min-width: 768px) {
    text-align: center;
  }
}

.franchise-modal {
  position: absolute;
  padding: 28px;
  background-color: var(--white-color);
  border: 2px solid var(--second-color);
  border-radius: 10px;
  max-width: 440px;
  width: calc(100vw - 40px);

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media screen and (min-width: 768px) {
    padding: 32px 60px;
    max-width: 568px;

    transform: translate(-50%, -50%) scaleX(1);
    background-color: rgba(255, 255, 255, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.backdrop.is-hidden .franchise-modal {
  transform: translate(-50%, -50%) scaleX(0.1);
}

.franchise-modal__close-button {
  display: inline-flex;
  align-items: center;
  height: 40px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 11px;
  right: 11px;
  width: 16px;
  height: 16px;
  cursor: url('../images/cursor-pointer.svg'), pointer;
}

.franchise_icon {
  fill: black;
  width: 11px;
  height: 11px;
  transition: fill 250ms var(--timing-function);
  &:hover,
    &:focus {
      fill: #0a8817;
    }

  @media screen and (min-width: 768px) {
    width: 13px;
    height: 13px;
  }

}

.franchise-modal__title {
  font-family: 'Seymour One';
  font-style: normal;
  color: var(--black-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 1.4;
    max-width: 322px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
  }
}

.franchise-modal__text {
  color: var(--black-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    margin-bottom: 32px;
  }
}

.user {
  text-align: center;

}


.user__personal-data {
  width: 100%;
  height: 32px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid var(--background-color);
  border-radius: 10px;

  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 400;
  color: var(--black-color);
  font-size: 12px;
  line-height: 1.4;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    max-width: 368px;
    font-size: 14px;
    margin-bottom: 16px;
    height: 42px;
    margin-left: auto;
    margin-right: auto;
  }
}

.user__comment {
  display: flex;
  flex-direction: column;
  resize: none;
  width: 100%;
  height: 64px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid var(--background-color);
  border-radius: 10px;

  padding-left: 12px;
  padding-right: 12px;
  font-style: normal;
  font-weight: 400;
  color: var(--black-color);
  font-size: 12px;
  line-height: 1.4;

  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    max-width: 368px;
    font-size: 14px;
    margin-bottom: 32px;
    margin-right: auto;
    margin-left: auto;
    height: 84px;

  }

}

.user__btn-submit {
  background-color: var(--second-color);

  border-radius: 10px;
  border: none;
  padding: 12px 34px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--black-color);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms var(--timing-function);
  &:hover,
  &:focus {
    color: var(--second-color);
    background-color: green;
  }
    cursor: url('../images/cursor-pointer.svg'),
    pointer;
}