// ------------------------Mobile----------------------
// .first {
//   height: 100px;
//   background-color: #84a178;
// }
// .second {
//   height: 500px;
//   background-color: tomato;
// }
.gallery-contsection {
  position: relative;
}
.gallery-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}
.gallery {
  position: absolute;
  z-index: 9999;
  left: 50%;
  top: -45px;
  transform: translateX(-50%);
}
.gallery-slider {
}
.gallery-slider__slider {
}

.gallery-slider__image {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;

  border-radius: 8px;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/gallery/1gallery440@2x.jpg');
  }
  background-image: url('../images/gallery/1gallery440@1x.jpg');
}
@media screen and (max-width: (768px - 1px)) {
  .gallery-container {
    max-width: 480px;
  }
  .gallery-slider__slider {
  }
  .gallery-slider__image {
    width: 100%;
    height: 100vh;
  }
}

// ----------------------Tablet--------------------------------

@media screen and (min-width: 768px) and (max-width: (1200px - 1px)) {
  .gallery-container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .gallery {
    top: -144px;
  }
  .gallery-slider__slider {
    height: 327px;
    width: 100%;
  }
  .gallery-slider__image {
    width: 100%;
    height: inherit;

    border-radius: 18px;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/gallery/1gallery704@2x.jpg');
    }
    background-image: url('../images/gallery/1gallery704@1x.jpg');
  }
}
// ------------------------Desktop----------------------

@media screen and (min-width: 1200px) {
  .gallery-container {
    width: 1200px;
    padding-left: 94px;
    padding-right: 94px;
  }
  .gallery {
    top: -98px;
  }
  .gallery-slider__slider {
    height: 422px;
    width: 100%;
  }
  .gallery-slider__image {
    width: 1013px;
    height: inherit;
    border-radius: 24px;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/gallery/1gallery1013@2x.jpg');
    }
    background-image: url('../images/gallery/1gallery1013@1x.jpg');
  }
}
