
.mob-menu {
    top: 0;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    background-color: #85A279;
    width: 100%;
    max-width: 1199px;
    height: 100vh;
    z-index: 9999;
    overflow: scroll;
    @media screen and (min-width:1200px) {
        display: none;
    }
}
.mob-container {
    position: relative;
    padding-top: 100px;
    padding-bottom: 64px;
    @media screen and (min-width:768px) {
        padding-top: 140px;
    }
}
.mob-menu__pctr {
    position: absolute;
    top: 12px;
    left: 32px;
}
.mob-menu__close {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 16px;
    right: 20px;
    width: 32px;
    height: 32px;
}
.mob-menu__icon{
     fill: #FCFCFC;
    &:hover,
&:focus{
fill: var(--second-color);
}
}


.mob-menu__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 32px;
    align-items: center;
    margin-bottom: 110px;
    @media screen and (min-width:768px) {
        gap:  40px;
    }
}

.mob-menu__title {
    text-decoration: none;
font-weight: 700;
font-size: 32px;
line-height: calc(39 / 32);
color: #FCFCFC;
@media screen and (min-width:768px) {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: calc(59 / 48);
color: #FCFCFC;
}
}
.mob-menu__title:active.mob-menu {
    opacity: 0;
    visibility: hidden;
}
.mob-menu__title:is(:hover, :focus) {
    color: #000000;
}
.mob-menu__title:hover.mob-menu {
    opacity: 0;
}
.btn-buy-mob {

    cursor: pointer;
    transition: color 250ms var(--timing-function);
    transition: background-color 250ms var(--timing-function);
    transition: border 250ms var(--timing-function);
    display: flex;
      align-items: center;
      padding: 12px 36px;
      margin: auto;
      background-color: var(--second-color);
      border-radius: 10px;
      border: 2px solid var(--second-color);
  
      font-weight: 600;
      font-size: 14px;
      line-height: 1.21;
    
  
    &__icon-vector {
      margin-left: 4px;
      fill: currentColor;
    }
  
    &:hover {
      background-color: #0a8817;
      border: 2px solid #0a8817;
    }
  
    &:focus {
      background-color: #0a8817;
      border: 2px solid #0a8817;
      color: #ffffff;
    }
    &:disabled {
      background-color: #ababab;
      border: 2px solid #ababab;
    }
    @media screen and (min-width:768px) {
        display: none;
  }
}