.backdrop {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: var(--color-white);
  transition: opacity 250ms linear, visibility 250ms linear;
}

.read-more-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100vw - 40px);
  max-width: 440px;
  background-color: var(--white-color);
  border: 2px solid #f8d24e;
  border-radius: 10px;
  color: var(--black-color);
  opacity: 1;
  overflow: auto;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-function),
    opacity 250ms var(--timing-function);
  @media screen and (min-width: 768px) {
    max-width: 568px;
    width: 100%;
    overflow: hidden;
  }
  &__text {
    margin-top: 20px;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 1.4286;
    text-align: justify;
    @media screen and (min-width: 768px) {
      margin-top: 32px;
      font-size: 16px;
    }
  }
  &__button {
    position: absolute;
    right: 12px;
    top: 12px;
    width: 20px;
    height: 20px;
    border: none;
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    @media screen and (min-width: 768px) {
      width: 24px;
      height: 24px;
    }
  }
  &__icon {
    fill: #000000;
    @media screen and (min-width: 768px) {
      width: 13px;
      height: 13px;
      transition: fill 250ms var(--timing-function);
      &:hover,
      &:focus {
        fill: #0a8817;
      }
    }
  }
  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(1.5);
  }
  @media screen and (min-height: 420px) {
    transform: translate(-50%, -30%);
  }

  @media screen and (min-height: 500px) {
    transform: translate(-50%, -40%);
  }

  @media screen and (min-height: 580px) {
    transform: translate(-50%, -50%);
  }
}

.modal-section {
  padding: 28px;
  @media screen and (min-width: 768px) {
    padding: 32px 60px;
  }

  &__text {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
    // border: 1px solid #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    @media screen and (min-width: 768px) {
      margin-bottom: 32px;
      font-size: 20px;
      line-height: 1.4;
    }
  }
}

.modal-video {
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  border-radius: 10px;
  height: 199px;
  @media screen and (min-width: 768px) {
    padding-bottom: 39.25%;
    height: 205px;
  }
  &__youtube {
    width: 224px;
    height: 199px;
    border-radius: 10px;
    overflow: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    @media screen and (min-width: 768px) {
      width: 448px;
      height: 205px;
      background: #000000;
    }
  }
}
