<section class="about">
    <div class="container">
        <label for="about" class="about__uptitle">tradition and love</label>
        <h2 class="about__title" id="about">how it’s made?</h2>
        <div class="about__wrap">
            <div class="about__img">
                <div class="about__img-wrap">
                    <img 
                    srcset="
                    ./images/about/img-mob.jpg 279w,
                    ./images/about/img-mob_2x.jpg 558w,
                    ./images/about/img-tab.jpg 330w,
                    ./images/about/img-tab_2x.jpg 660w,
                    ./images/about/img-desktop.jpg 490w,
                    ./images/about/img-desktop_2x.jpg 980w
                    "
                    src="./images/about/img-mob.jpg" width="279" alt="cow"
                    sizes="(min-width: 1200px) 490px, (min-width: 768px) 330px, (min-width: 480px) 279px, 100vw"
                    class="about__image">
                </div>
            </div>
            <div class="about__description">
                <p class="about__text-first">Ice is a place where you will become not only a little happier, but also healthier. Health is the main value for us, and we follow it when creating our handmade desserts.</p>
                <p class="about__text-second">We use traditional recipes and 100% natural ingredients. Our products are so natural that they can be given to children from the age of three years. Sweets lovers can expect 55 types of ice cream, 15 types of coffee and 23 milkshakes.</p>
                <p class="about__text-third">This is enough to choose ice cream and coffee for any mood!</p>
                <button type="button" class="about__button about-button" data-read-more-modal-open>
                    <span class="about-button__text">Read more</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="about-button__icon disabled" width="7" height="10">
                        <path d="M.97.227a.75.75 0 0 0 0 1.06L4.682 5 .97 8.712a.75.75 0 0 0 1.06 1.061L6.273 5.53a.75.75 0 0 0 0-1.06L2.03.227a.75.75 0 0 0-1.06 0Z"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>