<div id="my_modal" class="ingredients backdrop is-hidden" data-about-product-modal>

<div class="ingredients__modal" >
    <button type="button" class="ingredients__close" data-about-product-modal-close>
        <svg class="ingredients__icon" width="20px" height="20px">
            <use href="./images/products/symbol-defs.svg#icon-symbol-defs-franchise" ></use>
        </svg>
    </button>
    <h2 class="ingredients__title">Chololate<br> icecream</h2>
    <div class="ingridients__circle">

    </div>
    <ul class="ingredients__list">
        <li class="ingredients__item">
            <span class="ingredients__span">320</span>
            <p class="ingredients__text">kcal</p>
        </li>
        <li class="ingredients__item">
            <span class="ingredients__span">4g </span>
            <p class="ingredients__text">Prote...</p>
        </li>
        <li class="ingredients__item">
            <span class="ingredients__span">8,2g </span>
            <p class="ingredients__text">Fats</p>
        </li>
        <li class="ingredients__item">
            <span class="ingredients__span">40,4g </span>
            <p class="ingredients__text">Carbs</p>
        </li>
    </ul>

    <h3 class="ingredients__name">Ingredients</h3>
    <ul class="ingredients__part">
        <li class="ingredients__weigth">
            <p class="ingredients__product">Milk</p>
            <p class="ingredients__product">100ml</p>
        </li>
        <li class="ingredients__weigth">
            <p class="ingredients__product">Belgian chocolate</p>
            <p class="ingredients__product">20g</p>
        </li>
        <li class="ingredients__weigth">
            <p class="ingredients__product">Cream</p>
            <p class="ingredients__product">150 ml</p>
        </li>
        <li class="ingredients__weigth">
            <p class="ingredients__product">Cocoa powder</p>
            <p class="ingredients__product"> 30g</p>
        </li>
        <li class="ingredients__weigth">
            <p class="ingredients__product">Sugar</p>
            <p class="ingredients__product">40g</p>
        </li>
        <li class="ingredients__weigth">
            <p class="ingredients__product">Vanilla sugar</p>
            <p class="ingredients__product">10g</p>
        </li>
    </ul>
    <form class="ingredients__form">
        <ul>
            <li class="ingredients-label__list">
                <label class="ingredients__label">
                    <input type="text" class="ingredients__input" placeholder="Name">
                </label>
            </li>
            <li class="ingredients-label__list">
                <label  class="ingredients__label">
                    <input type="tel" class="ingredients__input" placeholder="Phone">
                </label>
            </li>
        </ul>

        <label class="ingredients__label">
            <textarea class="ingredients__comment" name="comment"   placeholder="Comment"></textarea>
        </label>
        <button class="ingredients__btn" type="submit">Submit</button>
    </form>        
</div>      
</div>  
