<section class="advantage">
	<div class="container">
		<h2 class="section-title visually-hidden">Our advantage</h2>
		<ul class="advantage-list">
			<li class="advantage-list__item advantage-list__item-cow">
				<p class="advantage-list__title">721</p>
				<p class="advantage-list__subtitle">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>

			</li>
			<li class="advantage-list__item advantage-list__item-weight">
				<p class="advantage-list__title">16kg</p>
				<p class="advantage-list__subtitle">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>

			</li>
			<li class="advantage-list__item advantage-list__item-cream">
				<p class="advantage-list__title">84</p>
				<p class="advantage-list__subtitle">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>

			</li>
		</ul>
	</div>
</section>