<div class="backdrop" data-buy-now-modal>
  <div class="buy-now-modal">
    <button type="button" class="bnm-close-button" data-buy-now-modal-close>
      <svg class="bnm-close-icon">
        <use href="./images/buy-now-modal/bnm-symbol-defs.svg#bnm-close-icon"></use>
      </svg>
    </button>

    <p class="buy-now-modal-title">Buy now</p>
    <form class="checkboxes">
      <ul class="checkboxes__list">
        <li class="checkboxes__item">
          <div class="checkboxes__wrap checkboxes__wrap--cream">
            <div class="checkboxes__inner checkboxes__inner--cream">
              <label class="checkboxes__label">
                <input
                  type="checkbox"
                  name="tasty"
                  value="ice-cream"
                  class="checkboxes__input"
                />
              </label>
            </div>
            <p class="checkboxes__title">ice cream</p>
          </div>
        </li>

        <li class="checkboxes__item">
          <div class="checkboxes__wrap checkboxes__wrap--coffee">
            <div class="checkboxes__inner checkboxes__inner--coffee">
              <label class="checkboxes__label">
                <input
                  type="checkbox"
                  name="tasty"
                  value="ice-coffee"
                  class="checkboxes__input"
                />
              </label>
            </div>
            <p class="checkboxes__title">ice coffee</p>
          </div>
        </li>

        <li class="checkboxes__item">
          <div class="checkboxes__wrap checkboxes__wrap--shake">
            <div class="checkboxes__inner checkboxes__inner--shake">
              <label class="checkboxes__label">
                <input
                  type="checkbox"
                  name="tasty"
                  value="milkshake"
                  class="checkboxes__input"
                />
              </label>
            </div>
            <p class="checkboxes__title">milkshake</p>
          </div>
        </li>
      </ul>
    </form>

    <form class="bnm-form">
      <label class="bnm-form__label">
        <input
          type="text"
          name="name"
          class="bnm-form__input"
          placeholder="Name"
          required
          pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
          title="Username must be two words separated by space."
        />
      </label>

      <label class="bnm-form__label">
        <input
          type="tel"
          name="tel"
          class="bnm-form__input"
          placeholder="Phone"
          required
          pattern="/^\\(?([0-9]{3})\\)?[-.\\s]?([0-9]{3})[-.\\s]?([0-9]{4})$/"
          title="(123) 456 7890"
        />
      </label>

      <label class="bnm-form__label">
        <textarea
          name="comment"
          class="bnm-form__input bnm-form__input--comment"
          placeholder="Comment"
        ></textarea>
      </label>

      <button type="submit" class="bnm-button">Submit</button>
    </form>
  </div>
</div>
