<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />


<section class="customer-reviews">

<div class="container__reviews">
    <div class="slider">
        <div class="slider__item">
            <!-- <picture>
                <source srcset="./images/customer-reviews/rew-first-ice2x.jpg" media="(min-device-pixel-ratio: 2)">
                <source srcset="./images/customer-reviews/rew-first-ice.jpg">
                <img src="./images/customer-reviews/rew-first-ice.jpg" alt="ice cream with blueberry" class="slider__photo">
            </picture> -->
            
            <picture>
                <source srcset="./images/customer-reviews/emily2x.png" media="(min-device-pixel-ratio: 2)">
                <source srcset="./images/customer-reviews/emily.png">
                <img src="./images/customer-reviews/emily.png" alt="black-haired girl " width="85" class="reviews__photo">
            </picture>
            
            <p class="rewiews__text">I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In addition, you have beautiful
            serving, cozy atmosphere and polite staff.</p>
            <h3 class="rewiews__name">Emily, Los Angeles</h3>
        </div>
        <div class="slider__item">
            <!-- <picture>
                <source srcset="./images/customer-reviews/rew-second-ice2x.jpg" media="(min-device-pixel-ratio: 2)">
                <source srcset="./images/customer-reviews/rew-second-ice.jpg">
                <img src="./images/customer-reviews/rew-second-ice.jpg" alt="ice cream with powder" class="slider__photo">
            </picture> -->
            <picture>
                <source srcset="./images/customer-reviews/bryan2x.png" media="(min-device-pixel-ratio: 2)">
                <source srcset="./images/customer-reviews/bryan.png">
                <img src="./images/customer-reviews/bryan.png" alt="man eating ice cream " width="85" class="reviews__photo">
            </picture>
            
            <p class="rewiews__text">Every day we come to you with friends after classes in college. We love your ice cream and casual atmosphere!</p>
            <h3 class="rewiews__name">Bryan, New-York</h3>
        </div>
        <div class="slider__item">
            <!-- <picture>
                <source srcset="./images/customer-reviews/rew-third-ice2x.jpg" media="(min-device-pixel-ratio: 2)">
                <source srcset="./images/customer-reviews/rew-third-ice.jpg">
                <img src="./images/customer-reviews/rew-third-ice.jpg" alt="ice cream with cherry" class="slider__photo">
            </picture> -->
            <picture>
                <source srcset="./images/customer-reviews/diana2x.png" media="(min-device-pixel-ratio: 2)">
                <source srcset="./images/customer-reviews/diana.png">
                <img src="./images/customer-reviews/diana.png" alt="red-haired girl smiling" width="85" class="reviews__photo">
            </picture>
            
            <p class="rewiews__text">Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the excellent service - always
            served politely and quickly!</p>
            <h3 class="rewiews__name">Diana, Chicago</h3>
        </div>
    </div>

</div>


<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="./js/slider-script.js"> </script>
</section>