<!-- <div class="first"></div> -->
<div class="gallery-contsection">
  <section class="gallery gallery-container">
    <div class="gallery-slider">
      <div class="gallery-slider__slider">
        <div class="gallery-slider__image1"></div>
      </div>
      <div class="gallery-slider__slider">
        <div class="gallery-slider__image2"></div>
      </div>
      <div class="gallery-slider__slider">
        <div class="gallery-slider__image3"></div>
      </div>
    </div>
  </section>
</div>

<!-- <div class="second"></div> -->

<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script
  type="text/javascript"
  src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
></script>
<script src="./js/slider-gallery.js"></script>
