<div class="gallery-contsection">
  <section class="gallery gallery-container">
    <div class="gallery-slider">
      <div class="gallery-slider__slider">
        <img
          srcset="
            ./images/gallery/1gallery1013@1x.jpg 1x,
            ./images/gallery/1gallery1013@2x.jpg 2x
          "
          src="./images/gallery/1gallery1013@1x.jpg"
        />
      </div>
      <div class="gallery-slider__slider">
        <img
          srcset="
            ./images/gallery/2gallery1013@1x.jpg 1x,
            ./images/gallery/2gallery1013@2x.jpg 2x
          "
          src="./images/gallery/2gallery1013@1x.jpg"
        />
      </div>
      <div class="gallery-slider__slider">
        <img
          srcset="
            ./images/gallery/3gallery1013@1x.jpg 1x,
            ./images/gallery/3gallery1013@2x.jpg 2x
          "
          src="./images/gallery/3gallery1013@1x.jpg"
        />
      </div>
    </div>
  </section>
</div>

<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script
  type="text/javascript"
  src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
></script>
<script src="./js/slider-gallery.js"></script>
