<section class="hero-header">
    <div class="container hero-header__box">
        <!-- Main navigation-->
        <div class="header">
            <nav class="header__navbox">
                <a href="./index.html" class="logo-pointer">
                    <picture>
                        <source srcset="./images/hero-header/logo-mob.png" media="(max-width: 767px)">
                        <source srcset="./images/hero-header/logo-tab.png" media="(max-width: 1199px)">
                        <source srcset="./images/hero-header/logo.png" media="(min-width: 1200px)">
                        <img src="./images/hero-header/logo.png" alt="Logo in the form of ice cream"
                            sizes="(min-width: 1200px) 60px, (max-width: 1199px) 48px, (max-width:768) 40px">
                    </picture>

                </a>

                <button class="btn-menu" type="button" aria-label="menu" data-menu-open>
                    <svg width="32px" height="32px" class="icon-menu">
                        <use href="./images/hero-header/hero-header.svg#menu"></use>
                    </svg>
                </button>

                <ul class="navlist">
                    <li class="navlist__item"><a class="navlist__link" href="#">Home</a></li>
                    <li class="navlist__item"><a class="navlist__link" href="#about-info">How it’s made?</a></li>
                    <li class="navlist__item"><a class="navlist__link" href="#products">Our products</a></li>
                    <li class="navlist__item"><a class="navlist__link" href="#contacts">Contact</a></li>
                </ul>

                <button class="btn-buy" type="button" data-buy-now-modal-open>Buy now <svg width="6px" height="10px"
                        class="btn-buy__icon-vector">
                        <use href="./images/hero-header/hero-header.svg#vector"></use>
                    </svg></button>
            </nav>
        </div>
        <!-- Hero -->
        <h1 class="hero__title">ice cream
            made with
            passion</h1>

        <ul class="hero__market">
            <li class="hero__market__item"><span class="hero__market__numb">16</span>cafes</li>
            <li class="hero__market__item"><span class="hero__market__numb">23</span>food trucks</li>
        </ul>

        <form action="#products" method="get" class="form-button">
            <button type="submit" class="btn-products">Products</button>
        </form>
        <form action="#about-info" method="get" class="form-button">
            <button type="submit" class="btn-how-made">How it’s made?</button>
        </form>

        <picture>
            <source srcset="./images/hero-header/ice-tab.png 1x, ./images/hero-header/ice-tab@x2.png 2x" media="(max-width: 1199px)">
            <source srcset="./images/hero-header/ice.png 1x, ./images/hero-header/ice@x2.png 2x" media="(min-width: 1200px)">
            <img class="hero__ice" src="./images/hero-header/ice.png" alt="A plate with various ice creams"
                sizes="(min-width: 1200px) 225px, (max-width: 1199px) 152px">
        </picture>



        <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et <svg width="40px" height="16px" class="hero__text__icon-arrow">
                <use href="./images/hero-header/hero-header.svg#arrow"></use>
            </svg></p>

            <picture>
                <source srcset="./images/hero-header/bigice-mob.png 1x, ./images/hero-header/bigice-mob@x2.png 2x" media="(max-width: 767px)">
                <source srcset="./images/hero-header/bigice-tab.png 1x, ./images/hero-header/bigice-tab@x2.png 2x" media="(max-width: 1199px)">
                <source srcset="./images/hero-header/bigice.png 1x, ./images/hero-header/bigice@x2.png 2x" media="(min-width: 1200px)">
                <img class="hero__bigice" src="./images/hero-header/bigice.png" alt="An ice cream cone with three smiling balls"
                    sizes="(min-width: 1200px) 456px, (max-width: 1199px) 268px, (max-width: 767px) 177px">
            </picture>
    </div>
</section>