<div data-franchise-modal class="backdrop is-hidde">
    <div class="franchise-modal">
        <button data-franchise-modal-c змlose class="franchise-modal__close-button">
            <svg class="franchise_icon" width="11" height="11">
                <use href="./images/symbol-defs-franchise.svg#icon-cross"></use>
            </svg>
        </button>
        <h2 class="franchise-modal__title">Thank you for your interest in owning an Ice Cream shop</h2>
        <button type="submit" class="user__btn-submit">Submit</button>
        </form>
    </div>
</div>