<div class="backdrop is-hidden" data-locations-modal>
    <div class="locations-modal">
        <button data-locations-modal-close class="locations-modal__close-button">
            <svg class="locations__icon" width="11" height="11">
                <use href="./images/symbol-defs-franchise.svg#icon-cross"></use>
            </svg>
        </button>
        <h2 class="locations-modal__title">Our Locations</h2>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d55741.409133825444!2d34.50669185705648!3d49.604711985552825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d825e425e6ba6b%3A0xcf3e6bdfb9e4ca82!2z0J_QvtC70YLQsNCy0LAsINCf0L7Qu9GC0LDQstGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCAzNjAwMA!5e0!3m2!1sru!2sua!4v1671911839727!5m2!1sru!2sua"
                width="224" height="199" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        <form action="https://goo.gl/maps/kxmWgtT43vrZ3LCg9" method="get" target="_blank">
            <button type="submit" class="user__btn-open">Open map</button>
        </form>
    </div>
</div>