<div class="mob-menu is-hidden"data-menu>
    <div class="mob-menu-modal">
        <div class="mob-container">
            <div class="mob-position-close">
                <a href="./index.html">
                    <picture class="mob-menu__pctr">
                        <source srcset="./images/hero-header/logo-mob.png" media="(max-width: 767px)">
                        <source srcset="./images/hero-header/logo-tab.png" media="(max-width: 1199px)">
                        <img src="./images/hero-header/logo.png" alt="Logo in the form of ice cream"
                            sizes="(max-width: 1199px) 48px, (max-width:) 40px">
                    </picture>
                </a>
                <div class="mob-position-icon">
                    <button class="mob-menu__close" type="button" data-menu-close>
                        <svg class="mob-menu__icon">
                            <use href="./images/mob-tab-menu/close-mob.svg#icon-mob-close"></use>
                        </svg>
                    </button>
                </div>
            </div>
                    <ul class="mob-menu__list">
                        <li class="mob-menu__item">
                            <a class="mob-menu__title" href="#" target="_blank">Home</a>
                        </li>
                        <li class="mob-menu__item">
                            <a class="mob-menu__title" href="#about-info" target="_blank">How it’s made?</a>
                        </li>
                        <li class="mob-menu__item">
                            <a class="mob-menu__title" href="#products" target="_blank">Our products</a>
                        </li>
                        <li class="mob-menu__item">
                            <a class="mob-menu__title" href="#contacts" target="_blank">Contact</a>
                        </li>
                    </ul>
                    <button class="btn-buy-mob" type="button" data-buy-now-modal-open>Buy now <svg width="6px" height="10px"
                        class="btn-buy__icon-vector">
                        <use href="./images/hero-header/hero-header.svg#vector"></use>
                    </svg></button>
        </div>
    </div>
</div>