<section class="products">
    <div class="products__container container">
        <p class="products__uptitle">100% natural</p>
        <h2 class="products__title">products</h2>
        <ul class="products__list">
            <li class="products__item">                
                <div class="products__box">
                    <picture>
                        <source srcset="./images/products/imagecompressor/products-icecream-mob-1x-min.jpg 1x, ./images/products/imagecompressor/products-icecream-mob-2x-min.jpg 2x" media="(max-width: 1199px)">
                        <source srcset="./images/products/imagecompressor/products-icecream-desktop-1x-min.jpg 1x, ./images/products/imagecompressor/products-icecream-desktop-2x-min.jpg 2x" media="(min-width: 1200px)">
                        <img src="./images/products/imagecompressor/products-icecream-mob-1x-min.jpg" alt="icecream" class="products__img">
                    </picture>
                    
                    <h3 class="products__name">ice cream</h3>
                    <p class="products__text">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer
    
                    </p>
                </div>
                <svg class="products__icon">
                    <use href="./images/products/symbol-defs.svg#icon-Arrow"></use>
                </svg>
            </li>
            <li class="products__item products__item--yellow">
                <div class="products__box">
                    <picture>
                        <source srcset="./images/products/imagecompressor/products-icecoffee-mob-1x-min.jpg 1x, ./images/products/imagecompressor/products-icecoffee-mob-2x-min.jpg 2x" media="(max-width: 1199px)">
                        <source srcset="./images/products/imagecompressor/products-icecoffee-desktop-1x-min.jpg 1x, ./images/products/imagecompressor/products-icecoffee-desktop-2x-min.jpg 2x" media="(min-width: 1200px)">
                        <img src="./images/products/imagecompressor/products-icecoffee-mob-1x-min.jpg" alt="icecoffee" class="products__img">
                    </picture>
                
                <h3 class="products__name">ice coffee</h3>
                <p class="products__text">Fragrant invigorating drink created from 100% natural ingredients without the use of preservatives and flavor enhancers</p>
            </div>
                <svg class="products__icon">
                    <use href="./images/products/symbol-defs.svg#icon-Arrow"></use>
                </svg>
            </li>
            <li class="products__item products__item--brown">
                <div class="products__box">
                    <picture>
                        <source srcset="./images/products/imagecompressor/products-milkshake-mob-1x-min.jpg 1x, ./images/products/imagecompressor/products-milkshake-mob-2x-min.jpg 2x" media="(max-width: 1199px)">
                        <source srcset="./images/products/imagecompressor/products-milkshake-desktop-1x-min.jpg 1x, ./images/products/imagecompressor/products-milkshake-desktop-2x-min.jpg 2x" media="(min-width: 1200px)">
                        <img src="./images/products/imagecompressor/products-icecream-mob-1x-min.jpg" alt="milkshake" class="products__img">
                    </picture>
                
                <h3 class="products__name">milkshakes</h3>
                <p class="products__text">Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other sweets of your choice</p>
            </div>
                <svg class="products__icon">
                    <use href="./images/products/symbol-defs.svg#icon-Arrow"></use>
                </svg>
            </li>
        </ul>
    </div>
</section>