<section class="products">
    <div class="products__container container">        
        <span class="products__uptitle">100% natural</span>        
        <h2 class="products__title" id="products">products</h2>  
        <ul class="products__list">
            <li class="products__item">                
                <div class="products__box">                    
                    <h3 class="products__name">ice cream</h3>
                    <p class="products__text">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer</p>
                </div>
                <button class="products__btn" type="button" data-about-product-modal-open>
                <svg class="products__icon">
                    <use href="./images/products/symbol-defs.svg#icon-arrow"></use>
                </svg>
            </button>
            </li>
            <li class="products__item products__item--yellow">
                <div class="products__box">                
                
                <h3 class="products__name">ice coffee</h3>
                <p class="products__text">Fragrant invigorating drink created from 100% natural ingredients without the use of preservatives and flavor enhancers</p>
            </div>
            <button class="products__btn" type="button" data-about-product-modal-open>
                    <svg class="products__icon">
                        <use href="./images/products/symbol-defs.svg#icon-Arrow"></use>
                    </svg>
               </button>
            </li>
            <li class="products__item products__item--brown">
                <div class="products__box">
                    
                
                <h3 class="products__name">milkshakes</h3>
                <p class="products__text">Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other sweets of your choice</p>
            </div>
            <button class="products__btn" type="button" data-about-product-modal-open>
                <svg class="products__icon">
                    <use href="./images/products/symbol-defs.svg#icon-Arrow"></use>
                </svg>
            </button>
            </li>
        </ul>
    </div>
</section>