<div class="backdrop visually-hidden" [data-read-more-modal]>
  <div class="read-more-modal">
    <button
      type="button"
      class="read-more-modal__button"
      [data-read-more-modal-close]
    >
      <svg class="read-more-modal__icon" width="11" height="11">
        <use href="./images/about-product-modal/vector.svg#icon-vector"></use>
      </svg>
    </button>
    <div class="modal-section">
      <b class="modal-section__text">How it’s made?</b>
      <div class="modal-video">
        <iframe
          class="modal-video__youtube"
          width="224"
          height="199"
          src="https://www.youtube.com/embed/00zV0YTEE14"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        >
      </div>
      <p class="read-more-modal__text">
        The first hint of manufacturing ice cream on a larger scale occurred in
        Baltimore in 1851, but it wasn’t until the technological advances of the
        20th century that mass production really took off. How is ice cream
        made?
      </p>
    </div>
  </div>
</div>
<script src="./js/read-more-modal.js"></script>
